/* Skills Page Styling */
.skills-container {
  text-align: center;
  padding: 40px 250px;
  /* background-color: #1A1A1D; */
  background:linear-gradient(to right, #1A1A1D, #191970);
  color: white;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Skills Grid - 4 Columns on Laptops */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px;
  justify-items: center;
  align-items: center;
}

/* Individual Skill Card */
.skill-card {
  background-color: #1e1e1e;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  width: 120px;
  transition: transform 0.3s ease-in-out;
  border:1px solid #87CEEB;
  box-shadow: 2px 2px 5px #87CEEB;
}

.skill-card:hover {
  transform: scale(1.1) !important;
}

/* Icon Styling */
.icon {
  font-size: 50px;
  margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  /* Adjust for Tablets */
  .skills-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
  .skills-container{
    padding: 40px 180px;
  }
}

@media (max-width: 768px) {
  /* Adjust for Mobile */
  .skills-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
  .skills-container{
    padding: 40px 130px;
  }
}

@media (max-width: 480px) {
  /* Small Mobile Screens */
  .skills-container{
    padding: 0;

  }
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);/* 1 column */
  }
}

.category-title {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: left;  /* Align to the left */
  padding-left: 20px; /* Add some spacing from the left */
}
